/* footer */

footer{
    display: grid;
    background-color: #0060CA; 
    font-family: $text;
    color: rgb(208, 229, 233);
    grid-template-columns: 1fr 1fr;
    text-shadow: $shadow-default;

    .footer-contact{
        display: inline-block;

        h3{
            margin-left: 30px;

            img{
                margin-right: 10px;
                width: 25px;
                height: 25px;
            }
        }
        
    }

    .footer-socialmedia{
        display: inline-block;  
        padding-right: 25%; 

        h3{
            margin-left: 20px;
        }

        ul{
            li{
                list-style: none;  
                margin-left: 30px; 

                a{
                    img{
                        margin-right: 10px;
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}