@import '../base/extend';
@import '../base/variables';
@import '../base/mixin';

main{
    background-image: $backgroundImg;

        .products-body{

            @extend %marginContainer; /* EXTEND */
            background-color: rgba(173, 213, 247, 0.8);

            .body-header{

                h1{
                    @extend %mainTitle; /* EXTEND */
                    text-align: center;
                }

                p{  /* MAPS */
                    text-align: map-get($texts, text-align );
                    font-size: map-get($texts, size );
                    font-family: map-get($texts, text-font );
                }
            }

            .products-container{
                @include display(grid); /* MIXIN */
                grid-template-columns: 1fr 1fr;


                .products-img{
                    width: 100%;
                    justify-content: center;
                    object-fit: cover;
                    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 16px 16px rgba(0,0,0,0), 5px 5px 16px 16px rgba(0,0,0,0.26); 
                    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 16px 16px rgba(0,0,0,0), 5px 5px 16px 16px rgba(0,0,0,0.26);
                    margin: 15% 15% 15% 15%;
                    justify-items: center;
                }

                .invert{
                    order:-1;
                }

                .img-container{
                    margin: 15% 15% 15% 15%;
                    justify-items: center;
                }

                .products-text{
                    align-self: center;
                    padding: 50px;

                    h2{
                        font-family: 'Permanent Marker', cursive; 
                        font-style: italic;
                        font-size: 60px;
                        color: yellow;
                        text-shadow: 2px 2px 2px black;
                    }

                    p{
                        font-size: 35px;
                        font-family: 'Readex Pro', sans-serif;
                        color: black;
                        text-shadow: 0.5px 0.5px 0.5px white;

                    }
                }
            }
        }
    }
