%mainTitle {

    font-size: 80px;
    font-family: "Barlow Condensed", sans-serif;
    text-shadow: 2px 2px 2px black;
    color: white;

}

%marginContainer {

    margin-left: 10%;
    margin-right: 10%;
}